node_modules/
dist/
.git/
.env
.env.*
!.env.example
*.log
*.tgz
*.tsbuildinfo
coverage/
.nyc_output/
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.temp/
.svelte-kit/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vscode-test/
.eslintcache
.stylelintcache
.node_repl_history
